<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/original.css">
    <script src="https://kit.fontawesome.com/8042e8a1e9.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav>
            <div class="left-side">
                <h1>King Market</h1>
            </div>

            <div class="right-side">
                 <div class="nav-link-wrapper">
                     <a href="">Home</a>
                 </div>

                <div class="nav-link-wrapper">
                     <a href="">About</a>
                </div>
            </div>

        </nav>
        <div class="content-wrapper">
            <div class="container">

                <div class="wrapper">
                    <div class="search_box">
                        <form action="new_search" method="post">
                            {% csrf_token %}
                         <input type="text" name="content" placeholder="What would you like to buy">
                         <i class="fas fa-search"></i>

                        </form>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </div>
</body>
</html>
