{% extends "base.html" %}

{% block content %}
    <h2 style="text-align: center;">{{search|title}}</h2>


                <div class="cards">
                    {% for post in final_postings%}
                    <div class="card">
                        <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt="" class="card__image"></a>
                        <div class="card__content">
                            <p>{{ post.0 }}</p>
                        </div>
                        <div class="card__info">
                            <div>
                                <p>{{ post.2 }}</p>
                            </div>
                            <div>
                                <a href="{{ post.1 }}" class="card__link">View Product</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>




{% endblock %}